<nav>
    <div>
        <img src="/img/logo.png" alt="" class="logo">
    </div>
    <input type="checkbox" id="check">
    <label for="check" class="bar-btn">
        <i class="fa fa-bars burger"></i>
    </label>
    <ul class="nav-menu">
        <li>
            <a href="#">
                <div class="icon">
                    <i class="fas fa-plane"></i>
                </div> Vuelos
            </a>
        </li>
        <li>
            <a href="#">
                <div class="icon">
                    <i class="fas fa-hotel"></i>
                </div> Hoteles
            </a>
        </li>
        <li>
            <a href="#">
                <div class="icon">
                    <i class="fas fa-snowboarding"></i>
                </div> Actividades
            </a>
        </li>
        <li>
            <a href="#">
                <div class="icon">
                    <i class="fas fa-briefcase"></i>
            </div> Paquetes
            </a>
        </li>
        <li>
            <a href="#">
                <div class="icon">
                    <i class="fas fa-users"></i>
            </div> Nosotros
            </a>
        </li>
        <li>
            <a href="/carrito">
                <div class="icon">
                    <i class="fas fa-shopping-bag"></i>
            </div> Carrito
            </a>
        </li>
        <li>
            <a class="boton" href="/login" target="_blank">Mi cuenta</a>
        </li>
    </ul>
</nav>