<section class="tipsVuelos">
    <h2>Tips de viaje</h2>
    <div class="tips-containers">
        <article class="tips">
            <script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
            <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="hover"
                colors="primary:#20bae6,secondary:#ffffff" style="width:150px;height:150px">
            </lord-icon>
            <h3 class="tCard4">Buscá y encontrá</h3>
            <p class="tCard5">El tipo de vuelo/hotel que busques, en la ciudad que busques: lo tenemos.
                Solo es cuestión de elegir el destino.</p>
        </article>
        <article class="tips">
            <script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
            <lord-icon src="https://cdn.lordicon.com/rjzlnunf.json" trigger="hover"
                colors="primary:#20bae6,secondary:#ffffff" style="width:150px;height:150px">
            </lord-icon>
            <h3 class="tCard4">Elegí el ideal</h3>
            <p class="tCard5">Por precio, ubicación y calificación, y descubrí en segundos lo que más te
                conviene.</p>
        </article>
        <article class="tips">
            <script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
            <lord-icon src="https://cdn.lordicon.com/yeallgsa.json" trigger="hover"
                colors="primary:#ffffff,secondary:#20bae6" style="width:150px;height:150px">
            </lord-icon>
            <h3 class="tCard4">¡Ahorrá!</h3>
            <p class="tCard5">Conseguí al mejor precio y disfrutá tu viaje pagando menos.</p>
        </article>
        <article class="tips">
            <script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
            <lord-icon src="https://cdn.lordicon.com/nocovwne.json" trigger="hover" colors="primary:#20bae6,secondary:#ffffff"
                style="width:150px;height:150px">
            </lord-icon>
            <h3 class="tCard4">Documentación</h3>
            <p class="tCard5">¡Seguinos en Facebook, Twitter o Instagram para enterarte novedades,
                ofertas de vuelos y tips de viajes!</p>
        </article>
    </div>
</section>