<%- include('partials/head') %>
<link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <%- include('partials/header') %>
    <section class="form">
        <div class="logo-container">
            <img src="../images/logo.png" alt="Logo Volando Bajito">
        </div>
        <div class="container-form">
            <h1 class="title">Crea tu cuenta</h1>
            <form action="#" autocomplete="off">
                <div class="main-user-information">
                    <div class="user-input-box">
                        <label for="fullName">Nombre y apellido</label>
                        <input class="input-form" type="text" name="fullname" id="fullname" placeholder="Ingrese nombre completo" />
                    </div>
                    <div class="user-input-box">
                        <label for="username">Usuario</label>
                        <input class="input-form" type="text" name="username" id="username"
                            placeholder="Ingrese nombre de usuario deseado" />
                    </div>
                    <div class="user-input-box">
                        <label for="email">E-Mail</label>
                        <input class="input-form" type="text" name="email" id="email" placeholder="Ingrese su E-Mail" />
                    </div>
                    <div class="user-input-box">
                        <label for="birthday">Fecha de nacimiento</label>
                        <input class="input-form" type="date" name="birthday" id="birthday" placeholder="Ingrese fecha de nacimiento" />
                    </div>
                    <div class="user-input-box">
                        <label for="password">Contraseña</label>
                        <input class="input-form" type="password" name="password" id="password" placeholder="Ingrese su contraseña" />
                    </div>
                    <div class="user-input-box">
                        <label for="confirmPassword">Confirmar contraseña</label>
                        <input class="input-form" type="password" name="confirmPassword" id="confirmPassword"
                            placeholder="Confirme su contraseña" />
                    </div>
                </div>
                <div class="email-notifications-box">
                    <input type="checkbox" name="notifications" id="notifications">
                    <label for="notifications">Deseo recibir novedades y ofertas por E-Mail</label>
                </div>
                <div class="form-submit-button">
                    <input type="submit" value="Registrar">
                </div>
            </form>
        </div>
    </section>
    <%- include('partials/footer') %> 