fieldset {
    max-height: 100%;
    align-items: center;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
}

/* sector de foto de perfil */
fieldset.encabezado {
    background: linear-gradient(180deg, #0614AD 0%, #20BAE6 100%);
    border-style: hidden;
    color: lightgray;
    border-radius: 15px;
    padding-top: 15px;
    padding-bottom: 10px;
    margin: 10px 10%;
}

.profilePic {
    border-radius: 50%;
    max-height: 80px;
    max-width: 80px;
}

/* sector de datos del usuario */
fieldset.infoUser {
    border-style: hidden;
    border-radius: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-width: 320px;
    min-height: 115px;
}

/* sector de encabezado de pago */
fieldset.infoPago {
    background: linear-gradient(180deg, #0614AD 0%, #20BAE6 100%);
    border-radius: 15px;
    border-style: hidden;
    padding-top: 15px;
    padding-bottom: 10px;
    margin: 10px;
    color: lightgray;
}

/* sector de informacion de pago */
fieldset.datosTarjeta {
    border-style: hidden;
    border-radius: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-width: 320px;
    min-height: 115px;
}

/* botones enviar - cancelar */

div.buttons{
   display: flex;
   inline-size: auto;
   align-items: center;
   margin: auto;
   justify-content: center;
   gap: 15px;
   margin-top: 20px;
   margin-bottom: 20px;
   box-sizing: border-box;
}
.submit{
  background-color: #20BAE6;
  color: #fff;
  border-style: hidden;
  border-radius: 5px;
  padding: 10px 15px;

}
.reset{
    background-color: #20BAE6;
    color: #fff;
    border-style: hidden;
    border-radius: 5px;
    padding: 10px 15px;
}
