@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Slab', serif;
    background-color: #0A1931;
}

/* Comienzo HEADER  */
header {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(90deg, #0614AD 0%, #20BAE6 100%);
    flex-direction: row;
    flex-wrap: nowrap;
}

.logo {
    width: 140px;
    margin-left: 60px;
    cursor: pointer;
    transition: all 0.3;
}

.logo:hover {
    transform: scale(1.1);
}

.bar-btn {
    font-size: 25px;
    color: white;
    cursor: pointer;
}

header ul {
    list-style: none;
}

header ul li {
    display: inline-block;
    padding: 8px 25px;
}

header ul li a {
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

header ul li a:hover {
    color: #20BAE6;
}

header ul li a .icon {
    text-align: center;
}

.botones-nav {
    width: 10%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: nowrap;
}

.login {
    border: 1px solid #0614AD;
    padding: 10px 30px;
    background-color: #0614AD;
    color: #ffffff;
    text-decoration: none;
    border-radius: 50px;
}

#check {
    display: none;
}

#check:checked ~ .nav-menu {
    height: 100vh;
    
}

#check:checked ~ .nav-menu li {
    display: block;
}

.boton-carrito {
    width: 8%;
}

lord-icon{
    padding-left: -140px;
    cursor: pointer;
}
/* Final HEADER */
/* seccion container img */
.container-img {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: left;
    background: url(../../images/container-img.jpg);
    background-size: cover;
    background-position: center;
}

.titulo {
    padding: 100px 60px;
}

.parte1 {
    color: white;
}

.parte2 {
    color: #0614AD;
    padding-bottom: 5px;
    border-bottom: #0614AD 10px solid;
}

.parte1,
.parte2 {
    font-size: 60px;
}

.sub-titulo {
    font-size: 30px;
    padding: 10px 20px 10px 0px;
    color: #20BAE6;
}

.botones2 {
    padding: 30px 1px;
}

.boton1 {
    border: 1px solid #0614AD;
    padding: 10px 40px;
    background-color: #0614AD;
    color: #ffffff;
    text-decoration: none;
    border-radius: 50px;
}

.boton2 {
    border: 1px solid #333;
    padding: 10px 40px;
    background-color: #333;
    color: #ffffff;
    text-decoration: none;
    border-radius: 50px;
}
/* seccion destinos */
.destinos {
    width: 90%;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
}

span {
    color: #0614AD;
}

h2 {
    color: white;
    font-size: 40px;
    padding-top: 10px;
}

.sub-text {
    color: #7B7E86;
    font-size: 20px;
    padding: 25px;
}

.cards {
    margin: 20px auto;
    max-width: 960px;
    text-align: center;
}

.card {
    display: inline-block;
    margin: 8px;
    max-width: 300px;
    perspective: 1000;
    text-align: left;
    transition: all 0.3s 0s ease-in;
    width: 300px;
    padding-bottom: 20px;
}

img {
    max-width: 300px;
    transition: all 0.3;
}

img:hover {
    transform: scale(1.1);
}

.icono {
    color: white;
    border-radius: 32px;
    height: 32px;
    padding: 0;
    position: relative;
    right: 0px;
    width: 32px;
    bottom: -47px;
    left: 270px;
    cursor: pointer;
}

.icono:hover {
    color: #0614AD;
}

.tCard {
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    padding: 10px 0px;
}

.subTcard {
    color: #7B7E86;
    display: block;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.025em;
    height: 150px;
}

.recomendado {
    position: absolute;
    background: #0614AD;
    padding: 5px 10px;
    text-align: center;
    font-size: 18px;
    font-weight: 200;
    color: #fff;
    border-radius: 7px;
    box-shadow: -10px 20px 15px -10px rgba(0, 0, 0, 0.3);
    margin-left: 140px;
    margin-top: -440px;
    margin-bottom: -140px;
}
/* seccion buscador */
.buscador-container {
    width: 90%;
    margin: auto;
    display: flex;
    box-shadow: -10px 20px 15px -10px rgba(0, 0, 0, 0.3);
    background: linear-gradient(180deg, #0614AD 0%, #20BAE6 100%);
}

.buscador-description{
    width: 600px;
    text-align: center;
    margin: auto;
    padding: 20px;
}

.waveT {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -0.05em;
    margin: 0;
    padding-bottom: 20px;
    color: white;
}

.buscador {
    padding: 20px;
}

.user-input-box .input-form {
    height: 40px;
    width: 80%;
    border-radius: 7px;
    outline: none;
    border: 1px solid grey;
    padding: 0 10px;
}

button {
    font-size: 18px;
    background-color: white;
    border-radius: 5px;
    padding: 10px 20px;
}

.buscar {
    color: black;
}

button:hover {
    background-color: #0614AD;
}
/* seccion feedbacks */
.feedbacks {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.titulo-feedback {
    padding-bottom: 120px;
}

.feedback {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 20px;
}

.feed {
    background: linear-gradient(180deg, #20BAE6 0%, #0614AD 100%);
    max-width: 500px;
    height: 350px;
    border-radius: 10px;
    box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
    position: relative;
}

.img-feed {
    height: 110px;
    width: 110px;
    z-index: 10;
    box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
    border-radius: 100%;
    position: absolute;
    left: -10%;
    top: -13%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-feedback {
    height: 8.3rem;
    width: 8.3rem;
    position: relative;
    border-radius: 100%;
    box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.description-feed {
    padding: 80px 20px 20px 20px;
}

h4 {
    text-align: left;
    padding-left: 15px;
    color: white;
    font-size: 1.25rem;
}

h5 {
    text-align: left;
    padding: 20px 18px;
    letter-spacing: 0.5px;
    color: white;
}

.feedT {
    padding: 20px 30px;
    font-size: 1.5rem;
    line-height: 1.45;
    color: #333;
}

.opc2 {
    margin-top: 40px;
}

.recomendacion {
    display: flex;
    color: white;
    padding: 20px 20px 20px 60px;
}

/* seccion recomendacion*/
.recomendaciones {
    width: 100%;
    margin: 0 auto;
    padding: 60px;
    text-align: center;
}

.recomendacion-container {
    padding-bottom: 60px;
}


.recomendacion-article {
    display: flex;
}

.article1 {
    animation: rotacion 20s infinite ease-in;
    background-size: cover;
    width: 900px;
    height: 500px;
}

.articleT {
    padding: 30px;
}

.articleP {
    color: white;
    text-align: left;
    padding: 25px;
}

.article2 {
    background-color: #0614AD;
    position: absolute;
    width: 450px;
    height: 400px;
}

@keyframes rotacion {
    0%, 50% {
        background-image: url(../../images/iguazu.jpg);
    }
    50%, 100% {
        background-image: url(../../images/cataratas.jpg);
    }
}
/* Comienzo FOOTER */
footer {
    background-color: black;
    display: flex;
    padding: 20px 20px;
}

.footer-p {
    width: 600px;
}

.footerP {
    color: white;
    text-align: center;
}

.menu {
    width: 900px;
}

.menu-container {
    text-align: center;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.menu-container li a {
    text-decoration: none;
    color: white;
}

.menu-container li a:hover {
    color: #0614AD;
}

.boton {
    border: 1px solid #20BAE6;
    padding: 10px 30px;
    background-color: #20BAE6;
    color: #ffffff;
    text-decoration: none;
    border-radius: 50px;
    margin-left: 100px;
}
/* Final FOOTER */
/* ########### FINAL INDEX ############## */
/* ########### VUELOS ############## */
/* seccion sectionForm*/
.sectionForm {
    width: 100%;
    height: 500px;
    padding-top: 60px;
    animation: slider 20s ease-in-out infinite;
    background-size: cover;
}

@keyframes slider {
    0% {
        background-image: url(../../images/paisaje1.jpg);
    }
    25% {
        background-image: url(../../images/paisaje2.jpg);
    }
    50% {
        background-image: url(../../images/paisaje3.jpg);
    }
    75% {
        background-image: url(../../images/paisaje4.jpg);
    }
    100% {
        background-image: url(../../images/paisaje5.jpg);
    }
}

.formVuelos {
    background: rgba(0, 0, 0, 0.5);
    width: 40%;
    margin-left: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: inset -2px 2px 2px #00000040;
}

.mainForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.select2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 90%;
}

.mainForm label {
    width: 95%;
    color: white;
    font-size: 20px;
    font-weight: 400;
    padding: 10px 5px;
}

.select3 {
    padding: 10px 5px;
}

.select4 {
    padding-top: 10px;
    padding-right: 48px;
}

.select5 {
    padding: 10px 5px;
}

.submit-button {
    margin-top: 20px;
    padding-left: 20px;
}

.submit-button input {
    display: block;
    width: 95%;
    margin-top: 10px;
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    color: rgb(228, 221, 221);
    background: #20BAE6;
}

.submit-button input:hover {
    background-color: #0614AD;
    color: rgb(255, 255, 255);
}
/* seccion vuelos*/
.vuelos {
    width: 80%;
    margin: 0 auto;
}

.vuelosCard-container {
    width: 100%;   
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.vuelos-cards {
    cursor: pointer;
    width: 300px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.2);
}

.vuelos-cards img {
    border-radius: 8px 8px 0px 0px;
    border-bottom: 10px solid #0A1931;
}

.card-descripcion {
    padding-left: 15px;
    padding-bottom: 10px;
}

.desde {
    padding: 20px 0px;
}


/* seccion tips*/
.tipsVuelos {
    padding: 40px 20px;
    text-align: center;
}

.tips-containers {
    padding: 40px 20px;
    width: 100%;
    display: flex;
    gap: 20px;
}

.tips {
    border-radius: 8px;
}

.tCard4 {
    color: white;
    border-radius: 8px 8px 0px 0px;
    text-align: center;
    padding: 5px 15px;
    border-bottom: solid 1px grey;
}

.tCard5 {
    color: #7B7E86;
    text-align: lcenter;
    padding: 5px 15px;
}

.precio2 {
    position: absolute;
    background: #0614AD;
    padding: 10px 20px;
    text-align: center;
    font-size: 24px;
    font-weight: 200;
    color: #fff;
    margin-left: 170px;
    border-radius: 7px;
    box-shadow: -10px 20px 15px -10px rgba(0, 0, 0, 0.3);
}
/* ########### FINAL VUELOS ############## */
/* ########### HOTELES ############## */
.containerFormHoteles {
    background-image: url(../../images/hotel-container.png);
    background-size: cover;
    background-position: center;
    padding: 20px;
}

.formHoteles {
    background: rgba(0, 0, 0, 0.5);
    width: 30%;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: inset -2px 2px 2px #00000040;
}

.comprar3 {
    background-color: #20BAE6;
    padding: 8px 0px;
    color: #fff;
    width: 150px;
    border-radius: 7px;
    font-weight: 500;
    margin-left: 145px;
}

.comprar3:hover {
    background: #0614AD;
}

/* ########### FINAL HOTELES ############## */
/* ########### PAQUETES ############## */
.activities {
    width: 80%;
    margin: 0 auto;
}

.titulo2 {
    width: 100%;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
}

.container-cards {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(7, 240px);
    grid-template-columns: 60%;
    gap: 20px;
    padding: 40px;
}

.card-actividades{
    width: 1000px;
    background-color: white;
    display: flex;
    border-radius: 8px;
    box-shadow: 0 8px 32px 0  rgba(255, 255, 255, 0.2);
}

.card-actividades img {
    border-radius: 8px 0px 0px 8px;
    border-right: 10px solid #0A1931;
}

.destiny {
    width: 60%;
    margin-left: 50px;
    padding-top: 20px;
}

.tCard2 {
    color: #0614AD;
    font-size: 24px;
}

.subTcard2 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 14px;
    height: 100px;
}

.comprar {
    background-color: #20BAE6;
    padding: 8px 0px;
    color: #fff;
    width: 150px;
    border-radius: 7px;
    font-weight: 500;
    margin: 20px 0px 0px 480px;
}

.comprar:hover {
    background: #0614AD;
}

.precio {
    position: absolute;
    background: #0614AD;
    padding: 10px 20px;
    text-align: center;
    font-size: 24px;
    font-weight: 200;
    color: #fff;
    margin-top: -150px;
    margin-left: 560px;
    border-radius: 7px;
    box-shadow: -10px 20px 15px -10px rgba(0, 0, 0, 0.3);
}
/* ########### FINAL PAQUETES ############## */
/*REPONSIVE PARA +800 header*/
@media screen and (min-width: 800px) {
    .logo {
        margin-left: 0px;
    }
    nav {
        height: 100px;
    }
    .bar-btn {
        display: none;
    }
    .nav-menu {
        position: relative;
        height: 100px;
        top: 0;
        transition: none;
        text-align: center;
    }
    .nav-menu li {
        display: inline-block;
        justify-content: space-between;
        margin: 20px 5px;
        transition: none;
    }
    .nav-menu li a i {
        font-size: 12px;
    }
}

/*Media query*/
@media screen and (max-width: 1440px) {
    .waveDescription {
        margin: 100px 450px;
    }
    .feed {
        max-width: 350px;
        height: 250px;
    }
    .description-feed {
        padding: 20px 20px 20px 50px;
    }
    h4 {
        text-align: center;
        padding-left: 15px;
    }
    h5 {
        text-align: center;
        padding: 18px 30px;
    }
    .feedT {
        padding: 10px 20px;
        font-size: 18px;
    }
    .opc2 {
        margin-top: 55px;
    }
    .opc3 {
        margin-top: 30px;
    }
    .article1 {
        margin: 150px 100px 40px 60px;
    }
    .article2 {
        margin: 20px 700px;
    }
    footer {
        padding: 20px 10px;
    }
    .footer-p {
        width: 400px;
        padding-top: 10px;
    }
    .menu {
        width: 700px;
        padding-top: 10px;
    }
    .boton {
        padding: 10px;
    }
}

@media screen and (max-width: 800px) {
    .waveDescription {
        margin: 20px 150px;
    }
    .feedbacks {
        display: none;
    }
    .article1 {
        width: 350px;
        height: 350px;
        padding: 20px 50px 20px 20px;
        margin: 50px 20px 30px 20px;
    }
    .article2 {
        width: 350px;
        height: 350px;
        margin: 10px 330px;
    }
    .footer-p {
        width: 200px;
        padding-top: 10px;
    }
    .footerP {
        font-size: 12px;
        text-align: left;
    }
    .menu {
        width: 500px;
        padding-top: 10px;
    }
    .boton {
        margin-left: 10px;
        font-size: 12px;
    }
}

@media screen and (max-width: 480px) {
    .container-img {
        height: 400px;
    }
    .titulo {
        padding: 10px 10px;
    }
    .parte1 {
        color: #0614AD ;
    }
    .parte2 {
        color: black;
        padding-bottom: 5px;
        border-bottom: none;
    }
    .parte1,
    .parte2 {
        font-size: 50px;
    }
    .sub-titulo {
        display: none;
    }
    .botones2 {
        padding: 180px 10px;
    }
    .wave {
        display: none;
    }
    .recomendacion-article {
        display: inline-block;
    }
    .article1 {
        display: none;
    }  
    .articleT {
        font-size: 24px;
    }
    .articleP {
        display: none;
    }
    .article2 {
        position: relative;
        width: 250px;
        height: 200px;
        margin: 10px 40px;
    }
    .footer-p {
        width: 100%;
        padding-top: 10px;
    }
    .footerP {
        font-size: 12px;
        text-align: center;
    }
    .menu {
        display: none;
    }
    .boton {
        display: none;
    }
}

/*Media Query nav*/
@media (max-width:805px) {
    nav{

        display: none;
        
    }
}