/* ########### VUELOS ############## */
/* seccion sectionForm*/
.sectionForm {
    width: 100%;
    max-height: 540px;
    padding-top: 60px;
    padding-bottom: 60px;
    animation: slider 20s ease-in-out infinite;
    background-size: cover;
}

@keyframes slider {
    0% {
        background-image: url(../../images/paisaje1.jpg);
    }

    25% {
        background-image: url(../../images/paisaje2.jpg);
    }

    50% {
        background-image: url(../../images/paisaje3.jpg);
    }

    75% {
        background-image: url(../../images/paisaje4.jpg);
    }

    100% {
        background-image: url(../../images/paisaje5.jpg);
    }
}

.formVuelos {
    background: rgba(0, 0, 0, 0.5);
    max-width: 560px;
    max-height: 600px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: inset -2px 2px 2px #00000040;
}

.mainForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.select2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 90%;
}

.mainForm label {
    width: 95%;
    color: white;
    font-size: 20px;
    font-weight: 400;
    padding: 10px 5px;
}

.select3 {
    padding: 10px 5px;
}

.select4 {
    padding-top: 10px;
    padding-right: 48px;
}

.select5 {
    padding: 10px 5px;
}

.submit-button {
    margin-top: 20px;
    padding-left: 20px;
}

.submit-button input {
    display: block;
    width: 95%;
    margin-top: 10px;
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    color: rgb(228, 221, 221);
    background: #20BAE6;
}

.submit-button input:hover {
    background-color: #0614AD;
    color: rgb(255, 255, 255);
}

/* seccion vuelos*/
.vuelos {
    width: 80%;
    margin: 0 auto;
}

h2 {
    color: #0A1931;
    padding: 15px 0px;
    -webkit-text-stroke: thin;
    -webkit-text-stroke-color: white;
}

.vuelosCard-container {
    width: 100%;
    display: grid;
    grid-auto-rows: 26rem;
    grid-template-columns: repeat(auto-fill, minmax(18rem,1fr));
    gap: 2rem;
}

.vuelos-cards {
    cursor: pointer;
    width: 260px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.2);
}

.vuelos-cards img {
    border-radius: 8px 8px 0px 0px;
    border-bottom: 10px solid #0A1931;
}

.card-descripcion {
    padding-left: 15px;
    padding-bottom: 10px;
}

.desde {
    padding: 20px 0px;
}

button {
    font-size: 16px;
    background-color: white;
    border-radius: 5px;
    padding: 10px 5px;
}

/* seccion tips*/
.tipsVuelos {
    padding: 40px 20px;
    text-align: center;
}

.tips-containers {
    padding: 40px 20px;
    width: 100%;
    display: flex;
    gap: 5%;
    flex-wrap: wrap;
    justify-content: center;
}

.tips {
    border-radius: 8px;
    max-width: 200px;
}

.tCard4 {
    color: white;
    border-radius: 8px 8px 0px 0px;
    text-align: center;
    padding: 5px 15px;
    border-bottom: solid 1px grey;
}

.tCard5 {
    color: #7B7E86;
    text-align: lcenter;
    padding: 5px 15px;
}

.precio2 {
    position: absolute;
    background: #0614AD;
    padding: 10px 20px;
    text-align: center;
    font-size: 24px;
    font-weight: 200;
    color: #fff;
    margin-left: 140px;
    border-radius: 7px;
    box-shadow: -10px 20px 15px -10px rgba(0, 0, 0, 0.3);
}

/* ########### FINAL VUELOS ############## */