<%- include('partials/head') %>
    </head>
    <body>
        <%- include('partials/header') %>
        <main>
            <div class="imagen">
            </div>
        </main>
        <%- include('partials/footer') %>