@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Slab', serif;
    background-color: #0A1931;
}
/* ########### PARTIALS ############## */
/* Comienzo HEADER  */
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #0614AD 0%, #20BAE6 100%);
}

.logo {
    width: 140px;
    padding-left: 20px;
    cursor: pointer;
    transition: all 0.3;
}

.logo:hover {
    transform: scale(1.1);
}

.bar-btn {
    font-size: 25px;
    color: white;
    cursor: pointer;
}

header nav ul {
    display: flex;
}

header nav li {
    list-style: none;
    margin: 0 25px;
}

header ul li a {
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

header ul li a:hover {
    color: #20BAE6;
}

a .icon {
    text-align: center;
}

.botones-nav {
    display: flex;
    justify-content: start;
}

.login {
    text-align: center;
    border: 1px solid #0614AD;
    padding: 10px 20px;
    background-color: #0614AD;
    color: #ffffff;
    text-decoration: none;
    border-radius: 50px;
    width: 120px;
    height: 50px;
    margin: 20px;
}

#check {
    display: none;
}

#check:checked~.nav-menu {
    height: 100vh;

}

#check:checked~.nav-menu li {
    display: block;
}

.boton-carrito {
    width: 8%;
}

lord-icon {
    padding-left: -140px;
    cursor: pointer;
}

.badge {
    position: absolute;
    background-color: #0614AD;
    border-radius: 50%;
    margin-top: -100px;
    margin-left: 50px;
    padding: 5px 10px;
    color: #fff;
}

/* Final HEADER */
/* Comienzo FOOTER */
footer {
    background-color: black;
    display: flex;
    padding: 20px 20px;
}

.footer-p {
    width: 600px;
}

.footerP {
    color: white;
    text-align: center;
}

.menu {
    width: 900px;
}

.menu-container {
    text-align: center;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.menu-container li a {
    text-decoration: none;
    color: white;
}

.menu-container li a:hover {
    color: #0614AD;
}

.boton {
    border: 1px solid #20BAE6;
    padding: 10px 30px;
    background-color: #20BAE6;
    color: #ffffff;
    text-decoration: none;
    border-radius: 50px;
    margin-left: 100px;
}
/* Final FOOTER */
/* Comienzo TIPS */
.tipsCard {
    padding: 20px 20px;
    text-align: center;
}

.tips-containers {
    margin: 20px auto;
    padding: 60px 20px;
    width: 90%;
    display: flex;
    gap: 20px;
}

.tips {
    border-radius: 8px;
}

.tCard4 {
    color: white;
    border-radius: 8px 8px 0px 0px;
    text-align: center;
    padding: 5px 15px;
    border-bottom: solid 1px grey;
}

.tCard5 {
    color: #7B7E86;
    text-align: lcenter;
    padding: 5px 15px;
}
/* final TIPS */
/* ########### FINAL PARTIALS ############## */
/* ########### INDEX ############## */
/* seccion container img */
.container-img {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: left;
    background: url(../../images/container-img.jpg);
    background-size: cover;
    background-position: center;
}

span {
    color: #0614AD;
    padding: 10px 0px;
}

.titulo {
    padding: 100px 60px;
}

.parte1 {
    color: white;
}

.parte2 {
    color: #0614AD;
    padding-bottom: 5px;
    border-bottom: #0614AD 10px solid;
}

.parte1,
.parte2 {
    font-size: 60px;
}

.sub-titulo {
    font-size: 30px;
    padding: 10px 20px 10px 0px;
    color: #20BAE6;
}

.botones {
    padding: 30px 1px;
}

.boton1 {
    padding: 10px 40px;
    background-color: #20BAE6;
    text-decoration: none;
    border-radius: 50px;
    color: #ffffff;
    transition: ease-out 0.2s;
    position: relative;
    z-index: 1;
}

.boton1:hover {
    background-color: #0614AD;
    cursor: pointer;
}

.boton1:before {
    transition: 0.9s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: #0614AD;
}

.boton1:hover:before {
    border-radius: 50px;
    transition: 0.9s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}

.boton2 {
    border: 1px solid #333;
    padding: 10px 40px;
    background-color: #333;
    text-decoration: none;
    border-radius: 50px;
    color: #ffffff;
}

.boton2:hover {
    color: #20BAE6;
    border-color: #20BAE6;
}
/* seccion destinos */
.destinos {
    width: 90%;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
}

h2 {
    color: white;
    font-size: 40px;
    padding-top: 10px;
}

.sub-text {
    color: #7B7E86;
    font-size: 20px;
    padding: 25px;
}

.cards {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin: 40px auto;
}

.card {
    display: inline-block;
    margin: 8px;
    perspective: 1000;
    text-align: left;
    transition: all 0.3s 0s ease-in;
    max-width: 300px;
    padding-bottom: 10px;
}

.card img {
    width: 300px;
    height: 200px;
    transition: all 0.3;
}

.card img:hover {
    transform: scale(1.1);
}

.valor {
    color: #20BAE6;
    width: 120px;
    height: 32px;
    padding: 0;
    position: relative;
    right: 0px;
    left: 200px;
    top: -40px;
    font-size: 26px;
}

.icono:hover {
    color: #0614AD;
}

.tCard {
    font-size: 24px;
    font-weight: 400;
    padding: 10px 0px;
}

.subTcard {
    color: #7B7E86;
    display: block;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.025em;
    height: 150px;
}

.recomendado {
    position: absolute;
    background: #0614AD;
    padding: 5px 10px;
    text-align: center;
    font-size: 18px;
    font-weight: 200;
    color: #fff;
    border-radius: 8px;
    box-shadow: -10px 20px 15px -10px rgba(0, 0, 0, 0.3);
    margin-left: 140px;
    margin-top: -440px;
    margin-bottom: -140px;
}
/* seccion buscador */
.buscador-container {
    width: 90%;
    margin: auto;
    display: flex;
    box-shadow: -10px 20px 15px -10px rgba(0, 0, 0, 0.3);
    background: linear-gradient(180deg, #0614AD 0%, #20BAE6 100%);
}

.buscador-description {
    width: 600px;
    text-align: center;
    margin: auto;
    padding: 20px;
}

.waveT {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -0.05em;
    margin: 0;
    padding-bottom: 20px;
    color: white;
}

.flex-form input[type="submit"] {
    background: #0614AD;
    border: 1px solid #0614AD;
    color: #fff;
    padding: 0 30px;
    cursor: pointer;
    transition: all 0.2s;
}
  
.flex-form input[type="submit"]:hover {
    background: #20BAE6;
    border: 5px solid #20BAE6;
}
  
.flex-form {
    display: -webkit-box;
    display: flex;
    z-index: 10;
    position: relative;
    width: 500px;
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
}
  
.flex-form > * {
    border: 0;
    padding: 0 0 0 10px;
    background: #fff;
    line-height: 50px;
    font-size: 1rem;
    border-radius: 0;
    outline: 0;
}
  
input[type="search"] {
    flex-basis: 500px;
}
/* seccion feedbacks */
.feedbacks {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.titulo-feedback {
    padding-bottom: 120px;
}

.feedback {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0px 20px;
}

.feed {
    background: linear-gradient(180deg, #20BAE6 0%, #0614AD 100%);
    max-width: 350px;
    height: 250px;
    border-radius: 8px;
    box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
    position: relative;
}

.img-feed {
    height: 110px;
    width: 110px;
    z-index: 10;
    box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
    border-radius: 100%;
    position: absolute;
    left: -10%;
    top: -13%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-feed:hover img {
    transition: 0.6s;
    outline: 6px solid gray;
    cursor: pointer;
}

.img-feedback {
    height: 8.3rem;
    width: 8.3rem;
    position: relative;
    border-radius: 100%;
    box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.description-feed {
    padding: 20px 20px 20px 50px;
}

h4 {
    text-align: center;
    padding-left: 15px;
    color: white;
    font-size: 1.25rem;
}

h5 {
    text-align: center;
    padding: 20px 18px;
    letter-spacing: 0.5px;
    color: white;
}

.feedT {
    padding: 10px 20px;
    font-size: 18px;
    line-height: 1.45;
    color: #333;
}

.recomendacion {
    font-size: 26px;
    display: flex;
    color: white;
    justify-content: center;
    cursor: pointer;
}

.opc2 {
    margin-top: 55px;
}

.opc3 {
        margin-top: 30px;
}
.recomendacion:hover {
    animation-name: bounce;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: 3s;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes bounce {
    0%,
    100% {
        transform: scale(1);
    }
    25%,
    75% {
        transform: scale(0.9);
    }
    50% {
        transform: scale(1.1);
    }
}
/* seccion recomendacion*/
.recomendaciones {
    width: 100%;
    margin: 0 auto;
    padding: 60px;
    text-align: center;
}

.recomendacion-container {
    padding-bottom: 60px;
}

.recomendacion-article {
    display: flex;
    margin: 0 auto;
    width: 1200px;
}

.article1 {
    animation: rotacion 20s infinite ease-in;
    background-size: cover;
    width: 900px;
    height: 500px;
    border-radius: 8px;
    margin: 150px 100px 40px 60px;
}

.articleT {
    padding: 30px;
}

.articleP {
    color: white;
    text-align: left;
    padding: 25px;
}

.article2 {
    background-color: #0614AD;
    position: absolute;
    width: 450px;
    height: 400px;
    border-radius: 8px;
    margin: 20px 700px;
}

.article2:hover {
    animation-name: stretch;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: 3s;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes stretch {
    0%, 100% {
        transform: scaleX(1);
    }
    50% {
        transform: scaleX(1.3);
    }
}

@keyframes rotacion {
    0%,
    50% {
        background-image: url(../../images/iguazu.jpg);
    }
    50%,
    100% {
        background-image: url(../../images/cataratas.jpg);
    }
}
/* ########### FINAL INDEX ############## */
/* ########### HOTELES ############## */
.containerHoteles {
    background-image: url(../../images/hotel-container.png);
    background-size: cover;
    background-position: center;
    padding: 20px;
    width: 100%;
    height: 400px;
}

.subTcard2 {

    color: #7B7E86;
    display: block;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.025em;
    height: 100px;
}

.recomendado2 {
    position: absolute;
    background: #0614AD;
    padding: 5px 10px;
    text-align: center;
    font-size: 18px;
    font-weight: 200;
    color: #fff;
    border-radius: 8px;
    box-shadow: -10px 20px 15px -10px rgba(0, 0, 0, 0.3);
    margin-left: 140px;
    margin-top: -360px;
    margin-bottom: -140px;
}

.comprar3 {
    background-color: #20BAE6;
    padding: 8px 0px;
    color: #fff;
    width: 150px;
    border-radius: 8px;
    font-weight: 500;
    margin-left: 145px;
    cursor: pointer;
}

.comprar3:hover {
    background: #0614AD;
}
/* ########### FINAL HOTELES ############## */
/* ########### PAQUETES ############## */
.sectionPaquetes {
    width: 100%;
    height: 500px;
    padding-top: 60px;
    animation: slider 20s ease-in-out infinite;
    background-size: cover;
}

@keyframes slider {
    0% {
        background-image: url(../../images/paisaje1.jpg);
    }
    25% {
        background-image: url(../../images/paisaje2.jpg);
    }
    50% {
        background-image: url(../../images/paisaje3.jpg);
    }
    75% {
        background-image: url(../../images/paisaje4.jpg);
    }
    100% {
        background-image: url(../../images/paisaje5.jpg);
    }
}

.titulo2 {
    width: 100%;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
}

.container-cards {
    max-width: 1000px;
    display: grid;
    grid-template-rows: repeat(7, 240px);
    grid-template-columns: 50%;
    align-self: center;
    justify-self: center;
    gap: 40px;
    margin: 40px auto;
    padding: 20px 40px;
}

.card-actividades {
    width: 900px;
    background-color: white;
    display: flex;
    border-radius: 8px;
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.2);
}

.card-actividades img {
    border-radius: 8px 0px 0px 8px;
    border-right: 10px solid gray;
    width: 380px;
    height: 240px;
    transition: all 0.3;
}

.card-actividades img:hover {
    transform: scale(1.1);
}

.destiny {
    width: 50%;
    height: 190px;
    margin-left: 20px;
    padding: 5px 15px;
}

.tCard2 {
    color: #20BAE6;
    font-size: 20px;
}

.subTcard3 {
    padding: 5px 0px;
    font-size: 14px;
    height: 150px;
}

.descripcion {
    display: flex;
    justify-content: space-around;
}

.comprar {
    background-color: #20BAE6;
    padding: 8px 0px;
    color: #fff;
    width: 150px;
    border-radius: 8px;
    font-weight: 500;
}

.comprar:hover {
    background: #0614AD;
}

.precio {
    position: absolute;
    background: #0614AD;
    padding: 5px 10px;
    text-align: center;
    font-size: 18px;
    font-weight: 200;
    color: #fff;
    margin-top: -200px;
    margin-left: 500px;
    border-radius: 8px;
    box-shadow: -10px 20px 15px -10px rgba(0, 0, 0, 0.3);
}
/* ########### FINAL PAQUETES ############## */
/* ########### DETALLE PRODUCTOS ############## */
.detailProduct {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 10px;
}

.detalles {
    max-width: 1400px;
    margin: 20px auto;
    padding: 20px;
}

.photos {
    display: grid;
    grid-template-rows: 1fr ;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 950px;
    border-right: 10px solid gray;
}

.photos .img-1 {
    width: 600px;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 2;
}

.photos .img-2 {
    width: 300px;
    grid-row-start: 1;
    grid-column-start: 3;
    grid-row-end: 2;
    grid-column-end: 2;
}

.photos .img-3 {
    width: 300px;
    grid-row-start: 2;
    grid-column-start: 2;
    grid-row-end: 2;
    grid-column-end: 2;
}

.info {
    position: absolute;
    width: 350px;
    padding: 20px 40px;
    color: white;
    line-height: 2;
    letter-spacing: 1.5;
    margin-left: 970px;
    margin-top: -360px;
    margin-bottom: -140px;
}

.price {
    font-size: 42px;
    font-weight: 500;
    color: white;
    margin: 10px;
}
/* ########### FINAL DETALLE PRODUCTOS ############## */
/* ########### EDITAR PRODUCTOS ############## */
.edit {
    max-width: 1000px;
    margin: 40px auto;
}

.formulario2 {
    width: 800px;
    padding: 40px 30px;
    position: absolute;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: inset -2px 2px 2px #00000040;
    border-radius: 10px;
    height: 400px;
    margin-top: -520px;
    margin-bottom: -200px;
    margin-left: 80px;
}

.formulario__input2 {
    width: 90%;
    padding: 8px 0px;
    background: transparent;
    border: none;
    color: white;
    border-bottom: 2px solid #0614AD;
    outline: none;
    margin: 10px 40px;
}

.formulario__input2:focus + .formulario__label2,
.formulario__input2:not(:placeholder-shown) + .formulario__label2{
    transform: translateY(-12px) scale(.9);
    transform-origin: left top;
}

.formulario__label2 {
    margin: 10px 30px;
    color: #0614AD;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 10px;
    transform: translateY(10px);
    transition: transform .5s, color .3s;
}

.btn-form2 {
    width: 30%;
    margin: 20px 40px;
    border: 1px solid #0614AD;
    padding: 10px 20px;
    background-color: #0614AD;
    color: #ffffff;
    text-decoration: none;
    border-radius: 50px;
    cursor: pointer;
}
/* ########### FINAL EDITAR PRODUCTOS ############## */
/* ########### CREACION PRODUCTOS ############## */
.create {
    max-width: 1200px;
    margin: 40px auto;
    height: 800px;
}

.img-create {
    width: 1200px;
    height: 800px;
}

.formulario3 {
    max-width: 800px;
    padding: 40px 30px;
    position: absolute;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: inset -2px 2px 2px #00000040;
    border-radius: 10px;
    height: 400px;
    margin-top: -680px;
    margin-bottom: -200px;
    margin-left: 300px;
}

.label2 {
    color: #0614AD;
    margin: 0px 40px;
}
/* ########### FINAL CREACION PRODUCTOS ############## */
/* ########### CONTACTO ############## */
.contacto {
    width: 100%;
    height: 300px;
    background-image: url(/images/contact_header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
}

.contactos {
    background: url(/images/login.jpg);
    max-width: 1000px;
    margin: 60px auto;
    border-radius: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    height: 600px;
}

.contactoForm {
    display: flex;
    max-width: 800px;
    margin: 0px auto;
}

textarea {
    width: 80%;
    padding: 8px 0px;
    background: transparent;
    border: none;
    color: white;
    font-weight: 300px;
    border-bottom: 2px solid #20BAE6;
    outline: none;
    margin: 0px 40px;
}

.btn-form {
    width: 40%;
    margin: 0px 40px;
    border: 1px solid #0614AD;
    padding: 10px 30px;
    background-color: #0614AD;
    color: #ffffff;
    text-decoration: none;
    border-radius: 50px;
    cursor: pointer;
}
/* ########### FINAL CONTACTO ############## */
/* ########### CONTACTO respuesta ############## */
.imagen {
    background-image: url(/images/respuesta_contacto.png);
    display:flex;
    width: 100%;
    height: 900px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
}
/* ########### FIN CONTACTO respuesta ############## */
/* ########### REGISTRO ############## */
.registro {
    background: url(/images/login.jpg);
    display:flex;
    width: 100%;
    height: 800px;
}

.logo-container {
    margin: auto;
}

.formulario {
    max-width: 500px;
    margin: 80px auto;
    padding: 20px 30px;
    position: relative;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: inset -2px 2px 2px #00000040;
    border-radius: 10px;
    height: auto;
}

.formulario__titulo {
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 6px;
    color:white;
    text-shadow: 2px 2px 2px black;
    border-bottom: solid 2px #00000040;
    margin: 40px 0;
}

.form-box {
    position: relative;
    color: aqua;
    padding-bottom: 20px;
}

.formulario__input {
    width: 80%;
    padding: 8px 0px;
    background: transparent;
    border: none;
    color: white;
    border-bottom: 2px solid #20BAE6;
    outline: none;
    margin: 0px 40px;
}

.formulario__input:focus + .formulario__label,
.formulario__input:not(:placeholder-shown) + .formulario__label{
    transform: translateY(-12px) scale(.9);
    transform-origin: left top;
}

.formulario__label {
    margin: 0px 30px;
    color: #20BAE6;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 10px;
    transform: translateY(10px);
    transition: transform .5s, color .3s;
}

.label {
    color: #20BAE6;
    margin: 0px 40px;
}

.formulario__submit {
    width: 40%;
    margin: 0px 40px;
    border: 1px solid #0614AD;
    padding: 10px 30px;
    background-color: #0614AD;
    color: #ffffff;
    text-decoration: none;
    border-radius: 50px;
    cursor: pointer;
}

.pregunta {
    color: white;
}

.preguntar {
    padding: 20px 0;
    margin: 0px 40px;
    display: flex;
}

.ingresar {
    text-decoration: none;
    color: #20BAE6;
    padding-left: 20px;
}

.register-error-message {
    color: red;
    font-style: italic;
    font-size: 14px;
    margin: 0px 40px;
}
/* ########### FINAL REGISTRO ############## */
/* ########### LOGIN ############## */
.loginForm{
    background: url(/images/login.jpg);
    width: 100%;
}
.container {
    display:flex;
    max-width: 1200px;
    height: 800px;
    margin: 0px auto;
}

.recordar {
    width: 80%;
    height: 24px;
    display: flex;
    justify-content: space-evenly;
    margin: 20px 40px
}

.recordar p {
    font-size: 18px;
    width: 90%;
    padding: 0px 10px ;
    color: white;
}
/* ###########  FINAL LOGIN ############## */
/* ########### ADMIN ############## */
.admin {
    width: 100%;
    background-color: white;
    height: auto;
}

.adminTitle {
    color: black;
    text-align: center;
    font-size: 40px;
    padding: 20px 0px;
}

.adminForm {
    display: flex;
    width: 100%;
    height: 100px;
    padding: 20px;
    margin: 40px 0px;
    justify-content: space-evenly;
    background-color: #0614AD;
}

.input {
    padding-top: -20px;
    padding: 10px;
    border-radius: 7px;
}

.submit {
    background-color: #20BAE6;
    color: black;
    padding: 10px;
    border-radius: 7px;
}

.aminTable {
    width: 1200px;
    margin: 0px auto;
}

.table {
    width: 100%;
    height: auto;
}

.table th {
    padding: 10px;
    border-bottom: 5px solid #0614AD;
}

.rellenoTable {
    text-align: center;
}

.rellenoTable td {
    padding: 10px;
    border-bottom: 1px solid gray;
}

.id {
    background-color: #20BAE6;
} 

.modificacion {
    text-align: left;
} 
/* ########### FIN ADMIN ############## */
/* ########### PERFIL ############## */
.logout-container{
    display: flex;
    justify-content: end;
    margin: 0px 80px;
}

fieldset {
    max-width: 800px;
    align-items: center;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    margin: 40px auto;
}
/* sector de foto de perfil */
.encabezado {
    background: linear-gradient(180deg, #0614AD 0%, #20BAE6 100%);
    border-style: hidden;
    color: lightgray;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 10px;
    max-width: 400px;
    display: flex;
}



.profilePic {
    border-radius: 50%;
    max-height: 80px;
    max-width: 80px;
}

.btn-form3 {
    width: 50%;
    margin: 20px 40px;
    border: 1px solid #0614AD;
    padding: 10px 20px;
    background-color: #0614AD;
    color: #ffffff;
    text-decoration: none;
    border-radius: 50px;
    cursor: pointer;
}
/* sector de datos del usuario */
.infoUser {
    border-style: hidden;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 40px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 400px;
}

.infoUser label {
    padding: 10px 0px;
}
/* sector de encabezado de pago */
fieldset.infoPago {
    background: linear-gradient(180deg, #0614AD 0%, #20BAE6 100%);
    border-radius: 10px;
    border-style: hidden;
    padding-top: 15px;
    padding-bottom: 10px;
    margin: 40px auto;
    color: lightgray;
    max-width: 400px;
}

.infoPago h3, .infoPago p {
    padding: 10px 20px;
}
/* sector de informacion de pago */
fieldset.datosTarjeta {
    border-style: hidden;
    border-radius: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 40px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 400px;
}

.datosTarjeta h3, .datosTarjeta label {
    padding: 10px 20px;
}

.documento {
    padding: 10px 20px;
}
/* botones enviar - cancelar */
div.buttons{
    display: flex;
    inline-size: auto;
    align-items: center;
    margin: auto;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.submit{
   background-color: #20BAE6;
   color: #fff;
   border-style: hidden;
   border-radius: 5px;
   padding: 10px 15px;
   cursor: pointer;
}

.reset{
     background-color: #20BAE6;
     color: #fff;
     border-style: hidden;
     border-radius: 5px;
     padding: 10px 15px;
     cursor: pointer;
}
/* ########### FIN PERFIL ############## */
/* ########### CARRITO ############## */
.carrito {
    width: 100%;
    height: 800px;
}
.containerCarrito {
    background-color: white;
    width: 1000px;
    margin: 40px auto;
    display: flex;
}

.carrito-body {
    background-color: white;
    margin: 20px auto;
}

.table2 {
    width: 800px;
    padding: 10px;
    justify-content: space-evenly;
}

th {
    text-align: center;
    padding: 10px 20px;
    justify-content: space-evenly;
}

.cartRows {
    padding: 10px 20px;
}

.totalAmount {
    color: #333;
    margin-left: 500px;
}

.text-center {
    text-align: center;
}

.boton3 {
    border: 1px solid #20BAE6;
    padding: 10px 30px;
    background-color: #20BAE6;
    color: #ffffff;
    text-decoration: none;
    border-radius: 50px;
    margin-top: 20px;
    margin-left: 670px;
}

.p {
    text-align: center;
}

.close {
    text-align: center;
    background-color: #0614AD;
    border-radius: 50%;
    padding: 5px 5px;
    color: #fff;
    cursor: pointer;
}
/* ########### FIN CARRITO ############## */

/*REPONSIVE PARA +800 header*/
@media screen and (min-width: 800px) {
    .logo {
        margin-left: 0px;
    }

    nav {
        height: 100px;
    }

    .bar-btn {
        display: none;
    }

    .nav-menu {
        position: relative;
        height: 100px;
        top: 0;
        transition: none;
        text-align: center;
    }

    .nav-menu li {
        display: inline-block;
        justify-content: space-between;
        margin: 20px 5px;
        transition: none;
    }

    .nav-menu li a i {
        font-size: 12px;
    }
}

@media (max-width:805px) {
    nav {
        display: none;
    }

    .bar-btn {
        font-size: 25px;
        color: white;
        cursor: pointer;
    }

    .parte1,
    .parte2 {
        font-size: 40px;
        color: #0614AD;
    }

    .feedbacks {
        display: none;
    }
    
    .article1 {
        width: 300px;
        height: 300px;
    }
    
    .articleT {
        padding: 30px;
    }
    
    .articleP {
        display: none;
    }
    
    .article2 {
        width: 300px;
        height: 200px;
        margin: 0px 120px;
    } 
}
 
@media (max-width:600px) {
    .description-feed {
        padding: 55px 20px 20px 20px;
        font-size: 25px;
    }

    .feedT {
        font-size: 1.5rem;
        line-height: 1.45;
        color: #333;
    }

    .titulo {
        padding: 50px 20px;
    }

    .article1 {
        animation: rotacion 20s infinite ease-in;
        background-size: cover;
        max-width: 1400px;
        height: 300px;
    }

    .bar-btn {
        font-size: 20px;
        color: white;
        cursor: pointer;
    }

    .logo {
        width: 100px;
        cursor: pointer;
        transition: all 0.3;
    }

    .article1 {
        animation: rotacion 20s infinite ease-in;
        background-size: cover;
        max-width: 1400px;
        height: 300px;
    }

    fieldset.encabezado {
        background: linear-gradient(180deg, #0614AD 0%, #20BAE6 100%);
        border-style: hidden;
        color: lightgray;
        border-radius: 15px;
        padding-top: 20px;
        padding-bottom: 20px;
        margin: 40px 0px 15px;
        width: 400px;
    }
    fieldset.infoPago {
        background: linear-gradient(180deg, #0614AD 0%, #20BAE6 100%);
        border-radius: 15px;
        border-style: hidden;
        padding-top: 15px;
        padding-bottom: 10px;
        margin: 20px 0px 10px;
        color: lightgray;
        width: 400px;
    }

}

@media (max-width:367px) {
    element.style {
        width: 40px;
        height: 80px;
    }

    .login {
        border: 1px solid #0614AD;
        padding: 10px 10px;
        background-color: #0614AD;
        color: #ffffff;
        text-decoration: none;
        border-radius: 50px;
        font-size: 12px;
        max-height: 37px;
        min-width: 70px;
    }

    .bar-btn {
        font-size: 18px;
    }

    .titulo {
        padding: 65px 20px;
    }

    .botones2 {
        padding: 80px 1px;
    }

    .boton1 {
        border: 1px solid #0614AD;
        padding: 6px 28px;
        background-color: #0614AD;
        color: #ffffff;
        text-decoration: none;
        border-radius: 50px;
    }

    .boton2 {
        border: 1px solid #333;
        padding: 6px 16px;
        background-color: #333;
        color: #ffffff;
        text-decoration: none;
        border-radius: 50px;
    }

    .sub-text {
        color: #7B7E86;
        font-size: 16px;
        padding: 25px;
    }

    .subTcard {
        color: #7B7E86;
        display: block;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: -0.025em;
        height: 150px;
        width: 250px;
    }

    .destinos {
        width: 90%;
        margin: 0 auto;
        padding: 30px 0px;
        text-align: center;
    }

    h2 {
        color: white;
        padding-top: 10px;
        font-size: 18px;
    }

    .card {
        display: inline-block;
        margin: 8px 0px;
        max-width: 250px;
        perspective: 1000;
        text-align: left;
        transition: all 0.3s 0s ease-in;
        width: 250px;
        padding-bottom: 20px;
    }

    .articleP {
        color: white;
        text-align: left;
        padding: 20px 25px;
        font-size: 10px;
    }

    .article2 {
        background-color: #0614AD;
        max-width: 1400px;
        min-height: 320px;
    }

    .article1 {
        animation: rotacion 20s infinite ease-in;
        background-size: cover;
        max-width: 1400px;
        height: 180px;
    }

    footer {
        background-color: black;
        display: flex;
        padding: 20px 20px;
        justify-content: center;
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}

@media (min-width:426px) {
    .item {
        margin-left: 30%;
        margin-right: 30%;
    }

    .item img {
        width: 125px;
    }

    .textos {
        font-size: 18px;
    }
}
