<footer>
    <div class="footer-p">
        <p class="footerP">Copyright © 2023 material by Grupo 5</p>
    </div>
    <div class="menu">
        <ul class="menu-container">
            <li>
                <a href="#">Inicio</a>
            </li>
            <li>
                <a href="#">Vuelos</a>
            </li>
            <li>
                <a href="#">Hoteles</a>
            </li>
            <li>
                <a href="#">Actividades</a>
            </li>
            <li>
                <a href="#">Nosotros</a>
            </li>
        </ul>
    </div>
    <a class="boton" href="/login" target="_blank">Ingresar</a>
</footer>
</body>
</html>