<footer>
    <div class="footer-p">
        <p class="footerP">Copyright © 2023 material by Grupo 5</p>
    </div>
    <div class="menu">
        <ul class="menu-container">
            <li>
                <a href="/">Inicio</a>
            </li>
            <li>
                <a href="/">Vuelos</a>
            </li>
            <li>
                <a href="/products/hotel">Hoteles</a>
            </li>
            <li>
                <a href="/products/activity">Actividades</a>
            </li>
            <li>
                <a href="/products/contact">Contacto</a>
            </li>
        </ul>
    </div>
    <a class="boton" href="/user/login" target="_blank">Ingresar</a>
</footer>

<script src="/js/script.js"></script>
<script src="/js/cart.js"></script>

</body>
</html>