<header>
    <div href="#" class="logo">
        <img src="/images/logo.png" alt="" class="logo">
    </div>
    <input type="checkbox" id="check">
    <label for="check" class="bar-btn">
        <i class="fa fa-bars burger"></i>
    </label>
    <nav>
        <ul>
            <li>
                <a href="/vuelos">
                    <div class="icon">
                        <script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
                        <lord-icon src="https://cdn.lordicon.com/gqzfzudq.json" trigger="hover"
                            colors="primary:#ffffff,secondary:#ffffff" style="width:60px;height:60px">
                        </lord-icon>
                    </div> Vuelos
                </a>
            </li>
            <li>
                <a href="/hoteles">
                    <div class="icon">
                        <script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
                        <lord-icon src="https://cdn.lordicon.com/xxduqotz.json" trigger="hover"
                            colors="primary:#ffffff,secondary:#ffffff" style="width:60px;height:60px">
                        </lord-icon>
                    </div> Hoteles
                </a>
            </li>
            <li>
                <a href="/paquetes">
                    <div class="icon">
                        <script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
                        <lord-icon src="https://cdn.lordicon.com/fhtaantg.json" trigger="hover"
                            colors="primary:#ffffff,secondary:#ffffff" style="width:60px;height:60px">
                        </lord-icon>
                    </div> Actividades
                </a>
            </li>
            <li>
                <a href="/perfil">
                    <div class="icon">
                        <script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
                        <lord-icon src="https://cdn.lordicon.com/uukerzzv.json" trigger="hover"
                            colors="primary:#ffffff,secondary:#ffffff" style="width:60px;height:60px">
                        </lord-icon>
                    </div> Perfil
                </a>
            </li>
        </ul>
    </nav>
    <div class="botones-nav">
        <a class="login" href="/login">Login In</a>
    </div>
    <div class="boton-carrito">
        <script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
        <lord-icon src="https://cdn.lordicon.com/dnoiydox.json" trigger="hover"
            colors="primary:#ffffff,secondary:#ffffff" style="width:50px;height:80px">
        </lord-icon>
    </div>
</header>