<header>
    <a href="/" class="logo">
        <img src="/images/logo.png" alt="" class="logo">
    </a>
    <input type="checkbox" id="check">
    <label for="check" class="bar-btn">
        <i class="fa fa-bars burger"></i>
    </label>
    <nav>
        <ul>
            <li>
                <a href="/">
                    <div class="icon">
                        <script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
                        <lord-icon src="https://cdn.lordicon.com/gqzfzudq.json" trigger="hover"
                            colors="primary:#ffffff,secondary:#ffffff" style="width:60px;height:60px">
                        </lord-icon>
                    </div> Vuelos
                </a>
            </li>
            <li>
                <a href="/products/hotel">
                    <div class="icon">
                        <script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
                        <lord-icon src="https://cdn.lordicon.com/xxduqotz.json" trigger="hover"
                            colors="primary:#ffffff,secondary:#ffffff" style="width:60px;height:60px">
                        </lord-icon>
                    </div> Hoteles
                </a>
            </li>
            <li>
                <a href="/products/activity">
                    <div class="icon">
                        <script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
                        <lord-icon src="https://cdn.lordicon.com/fhtaantg.json" trigger="hover"
                            colors="primary:#ffffff,secondary:#ffffff" style="width:60px;height:60px">
                        </lord-icon>
                    </div> Actividades
                </a>
            </li>
            <li>
                <a href="/products/contact">
                    <div class="icon">
                        <script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
                        <lord-icon src="https://cdn.lordicon.com/uukerzzv.json" trigger="hover"
                            colors="primary:#ffffff,secondary:#ffffff" style="width:60px;height:60px">
                        </lord-icon>
                    </div> Contacto
                </a>
            </li>
            <% if (locals.session) { %>
            <li>
                <a href="/products/admin">
                    <div class="icon">
                        <script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
                        <lord-icon src="https://cdn.lordicon.com/sbiheqdr.json" trigger="hover"
                            colors="primary:#ffffff,secondary:#ffffff" style="width:60px;height:60px">
                        </lord-icon>
                    </div> Admin
                </a>
            </li>
            <% } %>
        </ul>
    </nav>
    <div class="botones-nav">
        <a class="login" href="/user/login">Login In</a>
        <div class="boton-carrito">
            <a href="/products/carrito">
            <script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
                <lord-icon src="https://cdn.lordicon.com/dnoiydox.json" trigger="hover"
                    colors="primary:#ffffff,secondary:#ffffff" style="width:80px;height:80px">
                </lord-icon>
            </a>
        </div>
    </div>
    

</header>